.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202020;
}
.not-found-img {
  width: 375px;
}
@media screen and (min-width: 768px) {
  .not-found-img {
    width: 550px;
  }
}
